extends master
block content
  form(action="/" method="POST" id="check")
    legend Validate Profile or job
    .campo
      input(type="text" name="validate" id="validate" placeholder="Write name or id" required)
    .campo.profile
      input(type="submit" class="btn" value="Check")